/*
Theme Name: SM2
Description: Child theme for the Avada
Author: Mike Slebodnik - Square Pocket Design Co.
Template: Avada
*/


@font-face {
    font-family: 'sansationbold';
    src: url('fonts/Sansation_Bold-webfont.eot');
    src: url('fonts/Sansation_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sansation_Bold-webfont.woff2') format('woff2'),
         url('fonts/Sansation_Bold-webfont.woff') format('woff'),
         url('fonts/Sansation_Bold-webfont.ttf') format('truetype'),
         url('fonts/Sansation_Bold-webfont.svg#sansationbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sansationitalic';
    src: url('fonts/Sansation_Italic-webfont.eot');
    src: url('fonts/Sansation_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sansation_Italic-webfont.woff2') format('woff2'),
         url('fonts/Sansation_Italic-webfont.woff') format('woff'),
         url('fonts/Sansation_Italic-webfont.ttf') format('truetype'),
         url('fonts/Sansation_Italic-webfont.svg#sansationitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sansation_lightregular';
    src: url('fonts/Sansation_Light-webfont.eot');
    src: url('fonts/Sansation_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sansation_Light-webfont.woff2') format('woff2'),
         url('fonts/Sansation_Light-webfont.woff') format('woff'),
         url('fonts/Sansation_Light-webfont.ttf') format('truetype'),
         url('fonts/Sansation_Light-webfont.svg#sansation_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sansationregular';
    src: url('fonts/Sansation_Regular-webfont.eot');
    src: url('fonts/Sansation_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sansation_Regular-webfont.woff2') format('woff2'),
         url('fonts/Sansation_Regular-webfont.woff') format('woff'),
         url('fonts/Sansation_Regular-webfont.ttf') format('truetype'),
         url('fonts/Sansation_Regular-webfont.svg#sansationregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*
UPDATES
*/

#header .avada-row {
    max-width: 97% !important;
}

#header .logo {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
#nav.nav-holder .navigation > li > a {
    height: 106px !important;
    line-height: 106px !important;
    text-transform: uppercase;
}
#nav ul li {
    padding: 0 25px;
}
#nav ul li > a {
    border-bottom: 3px solid transparent;
    border-top: 0;
}
#nav ul .current_page_item > a, #nav ul .current-menu-item > a,
#nav ul li > a:hover
 {
    color: #333333 !important;
    border-color: #ea3b2d !important;
}


/*FUSION SLIDER*/

#sliders-container, .fusion-slider-container, .tfs-slider, .tfs-slider .background-image {
    height: 604px !important;
    max-height: 604px !important;
}
.tfs-slider .slide-content-container h3 {
    margin-top: 25px;
    margin-bottom: 25px;
}
.tfs-slider .buttons a.button,
button.frm_button_submit{
    background: #000033 !important;
    border-color: #000033 !important;
    color:#fff !important;
    font-size: 18px !important;
    width: 180px !important;
    padding: 25px !important;
    height: 100% !important;
    border-radius: 0 !important;
    text-transform: uppercase !important;
}


/*TESTIMONIALS*/
.fusion-fullwidth {
    position: relative;
}
.testimonial-thumbnail {
    float: left;
}
img.testimonial-image {
    border: 3px solid #ea3b2d;
}

.reviews blockquote {
    float:left;
    width: calc(100% - 200px);
    margin-left: 50px;
}
.fusion-testimonials.clean .author {
    margin-left: 225px;
    margin-bottom: 50px;
     text-align: left;
}
.fusion-testimonials.clean blockquote q {
    text-align: left;
    font-family: 'sansation_lightregular' !important;
}
.fusion-testimonials .testimonial-pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
}
.fusion-clients-slider {
    margin-top: 75px;
}
.es-nav-prev, .es-nav-next {
    background-color: #000033 !important;
    opacity: 1 !important;
}
.es-carousel-wrapper.fusion-carousel-small .es-carousel ul li img {
    border-color:#fff !important;
}
.fusion-video.fusion-vimeo {
    margin: 0 auto;
}


/*FORMS*/

.frm_form_fields {
    text-align: center;
}
input#field_29yf4d2 {
    width: 400px !important;
    padding: 15px !important;
    height: 100% !important;
    background: #e0e0e0;
    border: 2px solid #cbcbcb;
    margin: 0 auto;
    max-height: 72px !important;
}
.tfs-slider .buttons a.button, button.frm_button_submit {
    padding: 15px !important;
}


/*FOOTER*/
.footer-area {
    background-color: #010101 !important;
}
.footer-area img.footer_logo {
    width: 75px;
    display: inline-block;
    margin-right: 20px;
}
.footer-area p.footer_text {
    display: inline-block;
    width: 80%;
    font-size: 17px;
    line-height: 1.5em;
}
#footer {
    background-color: #060034 !important;
}
.fusion-social-networks.boxed-icons .fusion-social-network-icon {
    width: 55px;
    height: 55px;
    background-color: #fff !important;
    border-color:#fff !important;
    text-align: center;
    padding: 15px !important;
}
.recent-works-items img {
    height: 55px;
    width: 55px;
}
.fusionicon-facebook:before,
 .fusionicon-twitter:before,
.fusionicon-vimeo:before,
.fusionicon-youtube:before,
.fusionicon-linkedin:before {
    font-size: 24px;
}
ul.footer_links {
    width: 200px;
    margin-right: 0;
    margin-left: auto;
}
ul.footer_links li a {
    border-bottom: 0;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 0;
}







/*UPDATES*/


/*HEADER*/
#nav ul li ul li > a{
        font-family: 'sansationbold', arial, helvetica, sans-serif !important;
    font-size: 16px !important;
}
/*NEWS PAGE*/


body.blog .page-title-container {
    display: none !important;
}
#main {
    background: #fff !important;
    padding-right: 0;
    padding-top: 0;
}
body.blog #main .avada-row {
    margin-right: 0;
    max-width: 1150px;
}
body.blog #main #content {
    padding-top: 100px;
}
body.blog #main .sidebar {
    background: #DFE0E1 !important;
    padding: 100px 15px;
    width: 25%;
    height: 100%;
}

body.blog #main .sidebar .heading h3 {
    font-family: 'sansationbold', arial, sans-serif !important;
    text-transform: uppercase;
}

body.blog #main .sidebar input[type="submit"] {
    background: #000033 !important;
    border-color: #000033 !important;
    color: #fff !important;
    font-size: 14px !important;
    width: 120px !important;
    padding: 10px !important;
    height: 100% !important;
    border-radius: 0 !important;
    text-transform: uppercase !important;
    float: right;
}

body.blog #main .post .meta-info {
    border-top: 0;
    padding-bottom: 50px;
}


body.blog #main a.read-more {
    background: #ea3b2d;
        padding: 15px 25px;
    height: 30px;
        color:#fff;
            font-family: 'sansationbold', arial, sans-serif !important;
    text-transform: uppercase;
    line-height: 3em;
}




/*THE TEAM PAGE*/

body.page-id-41 .fusion-person .person-desc {
    text-align: center;
}

body.page-id-41 .person-author span.person-title {
    padding-top: 15px;
    padding-bottom: 40px;
            font-family: 'sansation_lightregular' !important;
    
}
body.page-id-41 .person-author span.person-title i {
    font-style: normal !important;
}

body.page-id-41 .fusion-person .person-content a {
    margin-top: 20px;
        background: #ea3b2d;
        padding: 15px 25px;
    height: 30px;
        color:#fff;
            font-family: 'sansationbold', arial, sans-serif !important;
    text-transform: uppercase;
    line-height: 3em;
}

body.page-id-41 .fusion-person .hide_bio{
    display: none;
}



/*SERVICES PAGES*/

div.wpcf7 {
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 25px;
}

div.wpcf7 input[type="text"],
div.wpcf7 input[type="email"],
div.wpcf7 input[type="date"] {
    font-family: 'sansation_lightregular' !important;
    padding: 10px !important;
    height: 100% !important;
    background: rgba(255, 255, 255, 0.85) !important;
    border: 0;
    margin: 0 auto;
    max-height: 50px !important;
}
div.wpcf7 input[type="submit"] {
        background: #000033 !important;
    border-color: #000033 !important;
    color: #fff !important;
    font-size: 14px !important;
    width: 120px !important;
    padding: 10px !important;
    height: 100% !important;
    border-radius: 0 !important;
    text-transform: uppercase !important;
    float: right;
}

.fusion-button.button-1 {
    background: #ff0000 !important;
    border-color: #ff0000 !important;
    color: #fff !important;
    font-size: 18px !important;
    width: 180px !important;
    padding: 10px !important;
    height: 100% !important;
    border-radius: 0 !important;
    text-transform: uppercase !important;
}

.wp-video {
    margin: 0 auto !important;
}
div.wpcf7-mail-sent-ok {
    background: #398f14 !important;
    color:#fff !important;
    text-align: center !important;
}
.contact_container {
        background-attachment: scroll;
    background-image: url(/wp-content/uploads/2017/11/new_bg-1024x512.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-color: #eae9e9;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-bottom-style: solid;
    border-top-style: solid;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
}
.contact_container h2 {
    text-transform: uppercase;
    text-align: center;
    color:#fff !important;
}
.button_grey {
    background: #e0e0e0 !important;
}

body.page-id-81 #sliders-container {
    display: none !important;
}

body.page-id-81 #main {
    padding-top: 0 !important;
     padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
body.page-id-81 #main > .avada-row {
        max-width: 100% !important;
    }
.map_contact .avada-row{
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    max-width: 400px !important;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 30px;
}
.map_contact .avada-row p strong {
    font-weight: bold !important;
        font-family: "PT Sans", Arial, Helvetica, sans-serif !important;
    font-size: 16px !important;
}
.service_steps {
    width: 75%;
    margin: 0 auto !important;
}
.service_steps img {
    max-width: 169px;
    transition: max-width 0.5s ease;
}
.service_steps img:hover {
    max-width: 200px;
}
a.button.large.button.default.fusion-button.button-flat.button-round.button-large.button-default.button-2.buttonshadow-no.banner_digits {
    position: absolute;
        top: -100px;
    right: 0;
    font-size: 14px !important;
    height: 16px !important;
    width: 120px !important;
    background-color: #ea3b2d !important;
    border: 0;
    font-family: 'sansation_lightregular', arial, sans-serif !important;
}
body.home #wrapper .post-content .home_booking h2,
body.home #wrapper .post-content .contact_container h2 {
    font-size: 34px !important;
}
